﻿@model NWBA.Web.Models.AccountStatmentModel


@if (Model.IsValidAccount)
{
    if (Model.Transactions != null && Model.Transactions.Any())
    {
        @Html.Partial("_PagingPartial", Model.PageModel)

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Credit</th>
                                <th>Debit</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transaction in Model.Transactions)
                            {
                                <tr>
                                    <td>@transaction.TransactionID</td>
                                    <td>@transaction.ModifyDate.DateDisplay()</td>
                                    <td>@transaction.TransactionTypeDisplay</td>
                                    <td>@transaction.Amount.CreditString()</td>
                                    <td>@transaction.Amount.DebitString()</td>
                                    <td>@transaction.Comment</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-9">
                <div class="alert alert-warning" role="alert">
                    <strong>No transaction Records</strong>
                    No transaction record to be view
                </div>
            </div>
        </div>
    }

}
else
{
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-warning" role="alert">
                <strong>Error</strong>
                @Model.ErrorMsg
            </div>
        </div>
    </div>
}
