﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title -  NWBA Banking Solution</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/static/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/static/css/themes/base/css")
    </head>
    <body>
        <header class="navbar navbar-static-top navbar-inverse" id="top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("NWBA Banking", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <nav class="collapse navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("ATM", "Manage", "Transaction")</li>
                        <li>@Html.ActionLink("My Statement", "MyStatement", "Account")</li>
                        <li>@Html.ActionLink("My Profile", "MyProfile", "Account")</li>
                        <li>@Html.ActionLink("Pay Bill", "PayBill", "Transaction")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {

                            <li><h5>Hi @User.Identity.Name</h5></li>
                            <li>@Html.ActionLink("Logout", "LogOff", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                    </ul>

                </nav>
            </div>
        </header>
        
        <div id="body" class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>@ViewBag.Title</h1>
                    </div>
                    <p class="lead">@ViewBag.ShortDesc</p>
                </div>
            </div>

            @RenderBody()

        </div>
        <footer class="footer-container">
            <div class="container">
                &copy;@DateTime.Now.Year - Site by Yu-Tsan Lu
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
