﻿@model NWBA.Web.Models.PagingModel

<div class="row paging-list">
    <div class="col-md-4 paging-label">
        Viewing @Model.PageModel.RecordFrom - @Model.PageModel.RecordTo of @Model.PageModel.TotalRecords
    </div>
    @if (Model.PageModel.ShowPaging)
    {
        <div class="col-md-8">
            <ul class="pagination right js-paging-list">
                @if (Model.PageModel.HasPrevious)
                {
                    <li>
                        <span>
                            @if (!string.IsNullOrEmpty(Model.ID))
                            {
                                @Html.ActionLink("<<", Model.ActionName, Model.ControllerName, new { id = Model.ID, pageNumber = (Model.PageModel.StartPage - 1) }, null)
                            }
                            else
                            {
                                @Html.ActionLink("<<", Model.ActionName, Model.ControllerName, new { pageNumber = (Model.PageModel.StartPage - 1) }, null)
                            }
                        </span>
                    </li>
                }

                @for (var ii = Model.PageModel.StartPage; ii <= Model.PageModel.EndPage; ii++)
                {
                    if (ii == Model.PageModel.SelectedPage)
                    {
                        <li class="active"><span>@ii</span></li>
                    }
                    else
                    {
                        <li>
                            <span>
                                @if (!string.IsNullOrEmpty(Model.ID))
                                {
                                    @Html.ActionLink(ii.ToString(), Model.ActionName, Model.ControllerName, new { id = Model.ID, pageNumber = ii }, null)
                                }
                                else
                                {
                                    @Html.ActionLink(ii.ToString(), Model.ActionName, Model.ControllerName, new { pageNumber = ii }, null)
                                }
                            </span>
                        </li>
                    }
                }

                @if (Model.PageModel.HasNext)
                {
                    <li>
                        <span>
                            @if (!string.IsNullOrEmpty(Model.ID))
                            {
                                @Html.ActionLink(">>", Model.ActionName, Model.ControllerName, new { id = Model.ID, pageNumber = (Model.PageModel.EndPage + 1) }, null)
                            }
                            else
                            {
                                @Html.ActionLink(">>", Model.ActionName, Model.ControllerName, new { pageNumber = (Model.PageModel.EndPage + 1) }, null)
                            }
                        </span>
                    </li>
                }

            </ul>
        </div>
    }

</div>
