﻿@model NWBA.Web.Models.CustomListModel

@{
    ViewBag.Title = "View Customer Account";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (Model.IsValidAccount)
{

    <div id="customer-list" class="js-paging-panel">
        @Html.Partial("GetCustomerListPage", Model)
    </div>

}
else
{
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-warning" role="alert">
                <strong>Error</strong>
                @Model.ErrorMsg
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/pagingpanel")
}