﻿@model NWBA.Web.Models.CustomListModel


@if (Model.HasCustomer)
{
    @Html.Partial("_PagingPartial", Model.PagingModel)

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Customer Name</th>
                            <th>Tax File Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in Model.CustomerList)
                        {
                            <tr>
                                <td>@customer.CustomerID </td>
                                <td>@customer.CustomerName </td>
                                <td>@customer.TFN</td>
                                
                                <td>@Html.ActionLink("View Accounts", "ViewCustomer", "Admin", new { id = customer.CustomerID}, null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-warning" role="alert">
                <strong>No customer Records</strong>
                No customer record to be view<br />
                @Html.ActionLink("<< Back to administrator home", "Index")
            </div>
        </div>
    </div>
}
