﻿@model NWBA.Web.Models.CustomerBillPayModel

@if (Model.HasBillPay)
{
    @Html.Partial("_PagingPartial", Model.PagingModel)

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Customer Name</th>
                            <th>Account</th>
                            <th>Payee</th>
                            <th>Period</th>
                            <th>Amount</th>
                            <th>Schedule Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var billPay in Model.BillPayRecords)
                        {
                            <tr>
                                <td>@billPay.CustomerID</td>
                                <td>@billPay.CustomerName</td>
                                <td>#@billPay.AccountNumber (@billPay.Balance.CreditString())</td>
                                <td>@billPay.PayeeName</td>
                                <td>@billPay.PeriodDisplay</td>
                                <td>@billPay.Amount.CreditString()</td>
                                <td>@billPay.ScheduleDate.DateOnlyDisplay()</td>

                                <td class="js-manage-payment-status">
                                    @if (billPay.AllowPause)
                                    {
                                        @Html.ActionLink("Pause Payment", "PausePayment", "Admin", new {id = billPay.BillPayID}, null)
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Enable Payment", "EnablePayment", "Admin", new { id = billPay.BillPayID }, null)
                                    }
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-warning" role="alert">
                <strong>No Pay Bill Records</strong>
                No pay bill to be view<br />
                @Html.ActionLink("<< Back to administrator home", "Index")
            </div>
        </div>
    </div>
}

