﻿@{
    ViewBag.Title = "Welcome to NWBA Admin";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Use one of the following option to manage customers</h3>
<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink("View Customer Account", "CustomerList", "Admin")</h4>
                View customer account and transaction details
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink("Manage Schedule Payment", "ManagePayment", "Admin")</h4>
                Manage customer schedule payment
            </li>
        </ul>
    </div>
</div>

