﻿@model NWBA.Web.Models.CustomerAccountModel

@{
    ViewBag.Title = "View Customer Account";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Model.CustomerProfile.ValidProfile)
{
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
        <li><a href="#customer-accounts" role="tab" data-toggle="tab">Accounts</a></li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="profile">
            <div class="col-md-9">

                <dl class="dl-horizontal">
                    <dt>Customer ID</dt>
                    <dd>@Model.CustomerProfile.CustomerID</dd>
                    <dt>Customer Name</dt>
                    <dd>@Model.CustomerProfile.CustomerName</dd>
                    <dt>Street</dt>
                    <dd>@Model.CustomerProfile.Street</dd>
                    <dt>City</dt>
                    <dd>@Model.CustomerProfile.City</dd>
                    <dt>State</dt>
                    <dd>@Model.CustomerProfile.State</dd>
                    <dt>Postcode</dt>
                    <dd>@Model.CustomerProfile.PostCode</dd>
                    <dt>Phone</dt>
                    <dd>@Model.CustomerProfile.Phone</dd>
                </dl>


            </div>
        </div>

        <div class="tab-pane" id="customer-accounts">
            <div class="row">
                <label class="col-md-4">Select account</label>
                <div class="col-md-8">
                    <select id="account-list" class="form-control" data-requrl="@Url.Action("GetCustomerStatement")">
                        >
                        <option value="" selected="selected" disabled="disabled">Please select an account</option>
                        @foreach (var acc in Model.CustomerAccounts)
                        {
                            <option value="@acc.AccountNumber">@acc.AccountTypeDisplay - # @acc.AccountNumber (@acc.Balance.CreditString())</option>
                        }
                    </select>
                </div>
            </div>


            <div id="transaction-list"></div>

        </div>
    </div>
    
    <div class="row">
        <div class="col-md-10">
            @Html.ActionLink("<< Back to customer list", "CustomerList")
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-danger" role="alert">
                <strong>Failed to load profile</strong>
                Please select different record <br/>
                @Html.ActionLink("<< Back to customer list", "CustomerList")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/mystatement")
}