﻿@model NWBA.Web.Models.BillingModel


@if (Model.BillPays != null && Model.BillPays.Any())
{
    @Html.Partial("_PagingPartial", Model.PagingModel)

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Acccount</th>
                            <th>Payee</th>
                            <th>Period</th>
                            <th>Amount</th>
                            <th>Schedule</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var paybiill in Model.BillPays)
                        {
                            <tr>
                                <td>@paybiill.BillPayID</td>
                                <td>#@paybiill.AccountNumber (@paybiill.Balance.CreditString())</td>
                                <td>@paybiill.PayeeName</td>
                                <td>@paybiill.PeriodDisplay</td>
                                <td>@paybiill.Amount.CreditString()</td>
                                <td>@paybiill.ScheduleDate.DateDisplay()</td>
                                <td>@Html.ActionLink("Edit", "EditBill", "Transaction", new { id = paybiill.BillPayID }, null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-warning" role="alert">
                <strong>No billing Records</strong>
                No billing record to be view<br />
                @Html.ActionLink("<< Pay Bill", "PayBill")
            </div>
        </div>
    </div>
}
