﻿@model NWBA.Web.Models.TransactionModel

@{
    ViewBag.Title = "ATM - Transaction Details";
}

<div id="transaction-detail" class="form-horizontal">

    @using (Html.BeginForm("Manage", "Transaction", FormMethod.Post, new {@id="transaction-form"} ))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-group">
            @Html.ValidationSummary(true, "Error Occur", new { @class = "col-md-offset-3 col-md-5 alert alert-danger" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.TransactionType, new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.TransactionType,
                    Html.BuildTransactionType(Model.TransactionType),
                    new { @class = "form-control js-transaction-type" })
                @Html.ValidationMessageFor(m => m.TransactionType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AccountNumber, new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.AccountNumber,
                    Html.BuildAccountList(Model.AvailableAccounts, Model.AccountNumber),
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AccountNumber)
            </div>
        </div>

        <div class="form-group desc-account js-dest-account">
            @Html.LabelFor(m => m.DestAccount, new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.DestAccount,
                 Html.BuildAccountList(Model.AvailableAccounts, Model.AccountNumber),
                new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DestAccount)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.Amount, new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", Value = (Model.Amount == 0 ? "" : Model.Amount.ToString("f2")) })
                @Html.ValidationMessageFor(m => m.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Comment, new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.TextAreaFor(m => m.Comment, 4, 5, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Comment)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-5">
                <input type="submit" class="btn js-reset-transaction" value="Reset Transaction" />
                <input type="submit" class="btn btn-primary" value="Submit Transaction" />
            </div>
        </div>

    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/atmtransaction")
}