﻿@using System.Activities.Statements
@model NWBA.Web.Models.ScheduleBillPayModel

@{
    ViewBag.Title = (Model.BillPayID > 0) ? "Edit Bill" : "Pay Bill";
}

@if (!Model.IsValidRecord)
{

    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-danger" role="alert">
                <strong>Failed to load Bill Pay record</strong>
                @Model.ErrorMsg
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-offset-3 col-md-4">
            @Html.ActionLink("<< View My Saved Pay Bill List >>", "ViewBillList")
        </div>
    </div>

    <div id="transaction-detail" class="form-horizontal">

        @using (Html.BeginForm("EditBill", "Transaction", FormMethod.Post, new { @id = "billpay-form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.ValidationSummary(true, "Error Occur", new { @class = "col-md-offset-3 col-md-5 alert alert-danger" })
            </div>

            if (!string.IsNullOrEmpty(Model.ActionMsg))
            {
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5 alert alert-success">
                        @Model.ActionMsg
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(m => m.AccountNumber, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.AccountNumber,
                        Html.BuildAccountList(Model.AvailableAccounts, Model.AccountNumber),
                        new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AccountNumber)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PayeeID, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.PayeeID,
                        Html.BuildPayeeList(Model.Payees, Model.PayeeID),
                        new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PayeeID)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Amount, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", Value = (Model.Amount == 0 ? "" : Model.Amount.ToString("f2")) })
                    @Html.ValidationMessageFor(m => m.Amount)
                </div>
            </div>

            <div class="form-group ">
                @Html.LabelFor(m => m.ScheduleDate, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.ScheduleDate, new { @class = "form-control select-date", Value = (Model.BillPayID > 0 ? Model.ScheduleDate.ToString("dd/MM/yyyy") : "") })
                    @Html.ValidationMessageFor(m => m.ScheduleDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Period, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.DropDownListFor(m => m.Period,
                        Html.BuildPeriodList(Model.Period),
                        new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Period)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-2">
                    @Html.HiddenFor(m => m.BillPayID)

                    @if (Model.BillPayID > 0)
                    {
                        @Html.ActionLink("Delete Payment", "DeletePayment", "Transaction", new { id = Model.BillPayID }, new { @class = "btn js-delete-payment" })
                    }
                    else
                    {
                        <input type="submit" class="btn js-reset-transaction" value="Reset Payment" />
                    }
                </div>
                <div class="col-md-2 text-right">
                    <input type="submit" class="btn btn-primary" value="Save Payment" />
                </div>
            </div>

            if (Model.BillPayID > 0)
            {
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5">
                        @Html.ActionLink("Add New Pay Bill >>", "PayBill", "Transaction", null, new { @class = "btn" })
                    </div>
                </div>
            }

        }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/paybill")
    }
}

