﻿@model NWBA.Domain.Interface.ITransactionResult
@{
    ViewBag.Title = "Transaction Receipt";
}

<div class="row">
    <div class="col-md-offset-2 col-md-7">

        <dl class="dl-horizontal">
            <dt>Account Number</dt>
            <dd>#@Model.AccountNumber</dd>
            <dt>Transaction Receipt</dt>
            <dd>#@Model.ReceiptNumber</dd>
        </dl>
        <hr />
        <dl class="dl-horizontal">
            <dt>Transaction Type</dt>
            <dd>@Model.TransactionTypeDesc</dd>

            <dt>Amout</dt>
            <dd>@Model.Amount.CreditString()</dd>


            @if (Model.DestAccountNumber.HasValue && Model.DestAccountNumber.Value > 0)
            {
                <dt>To Account Number</dt>
                <dd>@Model.DestAccountNumber.Value</dd>
            }
            
            <dt>Transaction Date</dt>
            <dd>@Model.TransactionDate.DateDisplay()</dd>

            <dt>Comment</dt>
            <dd>@Model.Comment</dd>

        </dl>
        <hr />
        <dl class="dl-horizontal">
            <dt>Account Balance</dt>
            <dd>@Model.AccountBalance.CreditString()</dd>
        </dl>

        <div>@Html.ActionLink("<< Add another transaction", "Manage")</div>

    </div>
</div>


<div class="row">

</div>