﻿@model NWBA.Web.Models.BillingModel
@{
    ViewBag.Title = "View Pay Bill List";
}

<div id="billing-list" class="js-paging-panel">
    @Html.Partial("GetBillingList", Model)
</div>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Add New Pay Bill >>", "PayBill")

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/pagingpanel")
}