﻿@model NWBA.Web.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}


<div id="change-password" class="form-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        if (Model.PasswordUpdated)
        {
            <div class="form-group">
                <div class="col-md-offset-3 col-md-5 alert alert-success" role="alert">
                    <strong>Password Updated</strong>
                </div>
            </div>
        }


        <div class="form-group">
            @Html.ValidationSummary(true, "Error Occur", new { @class = "col-md-offset-3 col-md-5 alert alert-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
            <div class="col-md-5">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-5">
                <button type="submit" class="btn btn-default btn-primary">Change password</button>
            </div>
        </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-5">
            @Html.ActionLink("<< Back to my profile", "MyProfile")
        </div>
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
