﻿@model NWBA.Web.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-4">
        <p class="lead">Welcome to NWBA Banking</p>
        <p>To start, enter your user name and password.</p>
        <p>Once you have login, you will be able to:</p>
        <ul>
            <li>ATM (Deposit / Withdraw / Transfer)</li>
            <li>View Statement</li>
            <li>Manage Profile</li>
            <li>Pay Bill</li>
        </ul>
    </div>
    <div class="col-md-8">
        <div id="LoginForm" class="form-horizontal">

            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.ValidationSummary(true, "Error Occur", new { @class = "col-md-offset-3 col-md-5 alert alert-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-5">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe) @Html.LabelFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
