﻿@model NWBA.Web.Models.ProfileModel
@{
    ViewBag.Title = "Editing Your Profile";
}

@if (Model.ValidProfile)
{
    <div id="profile-detail" class="form-horizontal">

        @using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { @id = "profile-form" }))
        {
            @Html.AntiForgeryToken()

            if (Model.ProfileUpdated)
            {
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-5 alert alert-success" role="alert">
                        <strong>Profile Updated</strong>
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.ValidationSummary(true, "Error Occur", new { @class = "col-md-offset-3 col-md-5 alert alert-danger" })
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-4">
                    @Html.ActionLink("Change your password >>", "ChangePassword")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CustomerName, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CustomerName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.TFN, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.TFN, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Street, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Street)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.State, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.State)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PostCode, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-5">
                    <input type="submit" class="btn btn-primary" value="Update Profile" />
                </div>
            </div>

        }
    </div>
}
else
{
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-danger" role="alert">
                <strong>Failed to load profile</strong>
                Please contact bank
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/atmtransaction")
}

