﻿@model IList<NWBA.Domain.Interface.IAccount>
@{
    ViewBag.Title = "View Your Statement";
}

<div class="row">
    <label class="col-md-4">Select account</label>
    <div class="col-md-8">
        <select id="account-list" class="form-control" data-requrl="@Url.Action("GetStatementTransaction")">
            <option value="" selected="selected" disabled="disabled">Please select an account</option>
            @foreach (var acc in Model)
            {
                <option value="@acc.AccountNumber">@acc.AccountTypeDisplay - # @acc.AccountNumber (@acc.Balance.CreditString())</option>
            }
        </select>
    </div>
</div>


<div id="transaction-list"></div>

@section Scripts {
    @Scripts.Render("~/bundles/mystatement")
}
