﻿@using System.Web.UI.HtmlControls
@{
    ViewBag.Title = "Welcome to NWBA Banking";
}

<h3>To start banking, select one of the following option</h3>

<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink("ATM", "Manage", "Transaction")</h4>
                Deposit and withdraw money
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink("Pay Bill", "PayBill", "Transaction")</h4>
                Pay Bill
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">@Html.ActionLink("My Statement", "MyStatement", "Account")</h4>
                View your statement
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading"> @Html.ActionLink("My Profile", "MyProfile", "Account")</h4>
                Update your profile and password
            </li>
        </ul>
    </div>
</div>

