﻿.footer-container {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 40px;
}


.field-validation-error {
    color: red;
}

#transaction-list {
    margin-top: 20px;   
}

.paging-list .pagination { margin: 0;}
.paging-list .paging-label { margin: 15px 0;}
.paging-list .right{ float: right;}

#transaction-detail .desc-account { display: none;}

.navbar-right h5{ color: #fff;padding: 8px 0;}