﻿body { background: #e6e6e6;}

.navbar { background: #4BBFC3; border-bottom-color: #4BBFC3}


.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-brand { color: #fff; }
    
.tab-content>div { margin-top: 15px;}